# IDE
.idea/

# Python cache
__pycache__/
*.pyc

# virtual environment
.venv/
env/

# environment variables
.env

# folder with test reports
test-result

# Playwright auth state (contains session tokens)
auth.json

# Test video recordings
videos/